li {
    background-color: white;
    border-width: .4rem;
    border-color: black;
    border-style: solid;
    display: inline-block;
    padding: 15px;
    margin: 8px;
    vertical-align: middle;
    max-width: 300px;
}

li img {
    width: 100%;
}

body {
    background-color: #EEEEEE;
    max-width: 1200px;
    margin: 40px auto;
}