html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h2 {
  font-family: Georgia, serif;
  font-size: 1em;
  line-height: 1.2;
}

section {
  margin: 100px auto;
  max-width: 70vw;
  display: flex;
  justify-content: space-between;
}

article {
  max-width: 25%;
}
