.u-fade-in {
  animation: fade-in 2s forwards 1 ease-out;
  opacity: 0;

  &--delay-500 {
    animation-delay: 0.5s;
  }

  &--delay-1500 {
    animation-delay: 1.5s;
  }
}

.u-text-color-animatable {
  &:hover {
    .character {
      animation-name: gray-to-orange;
    }
  }

  .character {
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  @for $i from 1 to 50 {
    .character:nth-child(#{$i}) {
      animation-delay: 0.1s * $i;
    }
  }
}
