select {
  background: #fffefe;
  border: 1px solid #ff9100;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 18px;
  color: #919191;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  min-height: 45px;
  min-width: 190px;
}

select:hover {
  cursor: pointer;
}
