body {
  background-color: rgb(221, 220, 220);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.box {
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 2px rgb(131, 131, 131);
  max-width: 500px;
}

h1,
p {
  padding-top: 8px;
  padding-left: 8px;
  padding-bottom: 8px;
  margin: 0;
}
