select {
  background: #fffefe;
  /* Secondary - 800 * */

  border: 1px solid #ff9100;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 18px;
}

select:hover {
  cursor: pointer;
}

select::placeholder {
  color: ;
}
