.navbar {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.navbar .navbar__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar__wraper .navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar__wraper .navbar__logo .navbar__logo-triangle {
  width: 10px;
  height: 16px;
  margin-right: 16px;
}

.navbar .navbar__wraper .navbar__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar__wraper .navbar__elements .navbar__item {
  margin: 15px 32px;
}

.navbar .navbar__wraper .navbar__elements .navbar__item a {
  text-transform: uppercase;
  color: #565656;
}

.navbar .navbar__wraper .navbar__elements .navbar__item a:hover {
  color: #ff9100;
}
