.c-main-nav {
  box-shadow: 0px 3px 8px 0px rgb(61, 61, 61);
}

.c-home-main {
  display: grid;
  grid-template-rows: 490px 565px 1180px 485px 170px 505px 330px 500px 480px 730px 1fr;

  &__welcome-section {
    background: linear-gradient(rgba(65, 190, 173, 0.9)),
      url("https://s3-alpha-sig.figma.com/img/4dce/3215/c519d3e9078c7cf24ad8ab581c429ba1?Expires=1647216000&Signature=HbXrupZKLzMEnDxPDlg32E9rLjSeUl8o9gPtzFS6tciOAvJRYf0~GRc5nB~9mk8JvO3rQvuU4T--n~YfYSoNYrQ5eZ-uil6NbxiK64mr2yAR9ZQ28eJwiihqD76w4sSakTCEphBp7zM2AQYuP1chNxrhyr3p26gU6vXvrH40fSZwBFDnyVPCc7guNDjKUr9fPU4uIteE5c~eLs~CHagNHTt5uTgaWQ8ZVdGBUncnBOubLX6i7MAhbWPLikUVbJIKLtgaXzlYFBZrC4pKJ4AHHdHavQD62Bh0BTm4CM4~JWGdSMlTXq1KyKuuemETFJlNClIbYPX8RHsDBe5YV573YA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA")
        no-repeat;
    background-size: 100% 140%;
    color: white;
    text-align: center;

    .o-page-content-wrapper {
      position: relative;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
    }

    & p {
      color: white;
    }
  }

  &__about {
    .o-page-content-wrapper--two__columns {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &__video {
      width: 520px;
      height: 344px;
      border: 4px solid rgb(65, 190, 173);
      border-radius: 16px;

      & img {
        border-radius: 12px;
      }
    }
  }

  &__programs {
    .o-page-content-wrapper {
      display: grid;
      grid-template-rows: auto auto;
    }

    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__design {
    .o-page-content-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &__image {
      max-width: 540px;
      height: 290px;
    }
  }
}
