.c-main-nav {
  box-shadow: 0px 3px 8px 0px rgb(70, 70, 70);
  position: relative;
}

.c-home-main {
  display: grid;
  grid-template-rows: 490px 565px 1180px 485px 170px 505px 330px 500px 560px 730px 1fr;

  &__welcome-section {
    background: linear-gradient(rgba(65, 190, 173, 0.9)),
      url("https://s3-alpha-sig.figma.com/img/4dce/3215/c519d3e9078c7cf24ad8ab581c429ba1?Expires=1647216000&Signature=HbXrupZKLzMEnDxPDlg32E9rLjSeUl8o9gPtzFS6tciOAvJRYf0~GRc5nB~9mk8JvO3rQvuU4T--n~YfYSoNYrQ5eZ-uil6NbxiK64mr2yAR9ZQ28eJwiihqD76w4sSakTCEphBp7zM2AQYuP1chNxrhyr3p26gU6vXvrH40fSZwBFDnyVPCc7guNDjKUr9fPU4uIteE5c~eLs~CHagNHTt5uTgaWQ8ZVdGBUncnBOubLX6i7MAhbWPLikUVbJIKLtgaXzlYFBZrC4pKJ4AHHdHavQD62Bh0BTm4CM4~JWGdSMlTXq1KyKuuemETFJlNClIbYPX8RHsDBe5YV573YA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA")
        no-repeat;
    background-size: 100% 140%;
    color: white;
    text-align: center;

    .o-page-content-wrapper {
      position: relative;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
    }

    & p {
      color: white;
      font-size: 19px;
      letter-spacing: 4px;
    }
  }

  &__about {
    background-color: $secondary-color;
    color: #fff;
    border-top: 10px solid #ffb402;

    .o-page-content-wrapper--two__columns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 100%;
      align-items: end;
      padding-bottom: 78px;
      position: relative;
    }

    &__bar {
      background-color: #fff;
      position: absolute;
      top: -86px;
      z-index: 1;
      display: grid;
      grid-template-columns: 322px 1fr;
      grid-column-gap: 100px;
      align-items: center;
      width: calc(100% - 110px);
      min-height: 162px;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0 0 8px 0 gray;
      border-radius: $sec-radius;

      &__btn {
        justify-self: center;
      }

      &__dots {
        position: absolute;
        top: -1px;
        height: 100%;
        width: 13px;
        left: 24%;
        background: transparent;
      }

      &__dot {
        border-radius: 50%;
        display: block;
        width: 13px;
        height: 13px;
        margin-bottom: 6px;
        box-shadow: inset 0 0 4px gray;

        &--green {
          background-color: $primary-300;
        }

        &--orange {
          background-color: $secondary-color;
        }

        &--light-orange {
          background-color: #ffb402;
        }
      }

      &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 42px;
      }

      &__list-item {
        display: grid;
        grid-template-columns: 50px 1fr;
        align-items: center;
        grid-column-gap: 32px;
        position: relative;

        &:not(:last-child)::after {
          content: "";
          display: block;
          position: absolute;
          right: 25%;
          top: 50%;
          transform: translateY(-50%);
          background-color: $gray-100;
          width: 2px;
          height: 32px;
        }

        &__icon {
          display: inline-flex;
        }

        &__title {
        }

        &__info {
          margin-bottom: 0;
        }
      }
    }

    &__info {
      padding-bottom: 48px;
    }

    &__video {
      width: 632px;
      height: 300px;
      justify-self: end;
      border: 4px solid rgb(65, 190, 173);
      border-radius: 16px;

      & img {
        border-radius: 12px;
      }
    }
  }

  &__programs {
    .o-page-content-wrapper {
      display: grid;
      grid-template-rows: auto auto;
    }

    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__design {
    .o-page-content-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &__image {
      max-width: 540px;
      height: 290px;
    }
  }

  &__trainings {
    background-color: $primary-300;
    color: white;

    .o-page-content-wrapper {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      height: 100%;
    }

    &__description {
      margin-right: 125px;
    }

    & p {
      color: white;
    }
  }

  &__skills {
    .o-page-content-wrapper {
      display: grid;
      grid-template-rows: 1fr 1fr;
      height: 100%;
      align-items: center;
    }

    &__description {
      margin: 0 auto;
      width: 50%;
      text-align: center;

      & h1 {
        color: $primary-300;
      }
    }

    &__list {
      display: grid;
      grid-auto-flow: column;
      justify-items: center;
    }
  }

  &__testimonials {
    background-color: $primary-300;

    .o-page-content-wrapper {
      height: 100%;
      padding: 0 0 0 80px;
    }

    &-test {
      display: grid;
      grid-column-gap: 32px;
      grid-template-columns: 140px 1fr;
      height: 100%;
      align-items: center;

      &__image {
        width: 140px;
        height: 154px;
        border-radius: 50%;

        & img {
          border-radius: 50%;
        }
      }
    }
  }

  &__awards {
    .o-page-content-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      align-items: center;
      height: 100%;
    }

    &__title {
      grid-column: 1 / span all;
      color: $primary-300;
    }

    &-award {
      display: flex;
      flex-flow: column wrap;
      align-items: center;

      &__image {
        width: 110px;
        height: 66px;
      }
    }
  }

  &__gallery {
    .o-page-content-wrapper {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 32px;
    }

    &__title {
      grid-column: 1 / 5;
      justify-self: center;
      color: $primary-300;
      margin-top: 54px;
    }

    &__btn {
      grid-column: 4;
      align-self: baseline;
      justify-self: end;
    }

    &__image {
      & img {
        border-radius: 16px;
      }
    }
  }

  &__blog {
    background-color: $blue-300;
    border-top: 8px solid #92cdfb;

    .o-page-content-wrapper {
      display: grid;
    }

    &__cards-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 32px;
    }

    &__btn {
      justify-self: end;
    }
  }
}
