footer {
  background-color: #565656;
  color: white;
  border-top: 10px solid #919191;
}

.footer {
  display: flex;
  position: relative;

  &__nav {
    display: flex;
    justify-content: space-between;

    &__list {
      padding-left: 0;

      & a {
        color: white;
      }
    }
  }
}

.one-eye-img img {
  position: relative;
  top: -85px;
}
