.c-popup {
  position: relative;

  &__trigger {
  }

  &__bubble {
    @include horizontal-center-absolute;

    position: absolute;
    min-width: 390px;
    top: -140px;

    &::after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 20px solid red;
    }
  }
}
