.dropdown-menu {
  background-color: #41bead;
  display: none;
  position: absolute;
  top: 60px;
  left: -8px;
  min-width: 210px;
  box-shadow: 0 8px 16px 0 rgb(207, 207, 207);

  & a {
    position: relative;
    display: flex;

    color: white;
    font-size: 18px;
    padding: 20px;

    & i {
      margin-right: 12px;
    }
  }

  & a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 1px;
    margin: 0 auto;
    opacity: 0.5;
    background-color: #fff;
  }
}
