.c-level-label {
  padding: 4px 8px;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  margin-right: 12px;

  &__text {
    font-size: 14px;
  }

  &--beginner {
    background-color: #676781;
    color: white;
  }

  &--semi-advanced {
    background-color: #9a5dc6;
    color: white;
  }

  &--advanced {
    background-color: $secondary-color;
    color: white;
  }
}
