footer {
  background-color: #565656;
  color: white;
  border-top: 10px solid #919191;
}

.footer {
  display: flex;
  position: relative;
  justify-content: space-between;

  &__nav {
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    padding: 32px 0;

    &:before {
      content: " ";
      background-image: url(../../assets/images/One_eye.svg);
      width: 200px;
      height: 300px;
      position: absolute;
      top: 10px;
      left: 1px;
    }

    &__art {
      max-width: 17%;

      &:nth-child(1) {
        margin-right: 100px;
      }

      & span {
        color: #919191;
      }
    }

    &__list {
      padding-left: 0;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 200px;

      & li {
        margin-bottom: 16px;
        margin-right: 32px;
      }

      & a {
        color: white;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;

        &:hover {
          color: #41bead;
        }
      }
    }
  }
}

.footer-img {
  position: relative;
  top: -85px;
}

.find-us .footer__nav__list {
  display: block ruby;
}
