.c-level-label {
  padding: 4px 8px;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  margin-right: 12px;

  &--beginner {
    background-color: #676781;
    color: white;
  }

  &--
}
