.dropdown-menu {
  display: flex;
  background-color: transparent;
  display: none;
  position: absolute;
  top: 60px;
  left: -8px;
  min-width: 210px;
  box-shadow: 0 8px 16px 0 rgb(207, 207, 207);

  & a {
    position: relative;
    display: flex;

    color: white;
    font-size: 18px;
    padding: 20px;

    & i {
      margin-right: 12px;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: white;
      bottom: 0px;
      height: 1px;
    }
  }
}
