.header__info {
  background-color: #ff9100;
  color: white;
  text-align: center;
  padding: 80px 150px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.header__info p {
  max-width: 53%;
  margin: 0 auto;
}

// HEADER AFTER DOTTED LINE

.course-programs {
  margin-top: 135px;
}

.programs__description {
  text-align: center;

  &__title {
    color: #41bead;
  }
}
