.c-level-label {
  padding: 4px 8px;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  margin-right: 12px;

  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #919191;
  }

  &--beginner {
    background-color: #676781;
    color: white;
  }

  &--semi-advanced {
    background-color: #9a5dc6;
    color: white;
    width: 50%;
  }

  &--advanced {
    background-color: $secondary-color;
    color: white;
  }
}

.o-row-container::after {
  content: "";
  background-color: #919191;
  position: absolute;
}
