.navbar {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 1px 5px rgba(0, 0, 0, 0.2);

  .navbar__wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar__logo {
      display: flex;
      align-items: center;

      .navbar__logo-triangle {
        width: 10px;
        height: 16px;
        margin-right: 16px;
      }
    }

    .navbar__elements {
      display: flex;

      .navbar__item {
        margin: 15px 32px;

        a {
          text-transform: uppercase;
          color: #565656;
        }

        &:hover {
          color: #ff9100;
        }
      }
    }
  }
}
