@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
body {
  font-family: Lato, sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
}

a,
button {
  font-size: 13px;
  line-height: 16px;
}

a {
  font-weight: 600;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

button {
  font-weight: 800;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
