body {
  padding: 0;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  max-width: 500px;
  margin: 70px auto;
}

h3 {
  padding: 12px;
  font-weight: 400;
  position: absolute;
  top: 25px;
  padding-right: 100px;
}

h3,
form {
  background-color: rgb(219, 253, 255);
  border-radius: 2px;
  border: 1px solid rgb(112, 112, 112);
  box-shadow: 0px 0px 6px 1px rgb(97, 97, 97);
}

article {
  display: flex;
  margin: 16px 0;
  align-items: center;
}

form {
  padding: 50px 20px 20px 20px;
}

label {
  width: 100%;
  position: relative;
}

span {
  display: block;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 16px;
}

input {
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 6px 16px 6px 30px;
  width: 100%;
}

label i {
  position: absolute;
  top: 7px;
  left: 7px;
}

.btn {
  background: black;
  color: whitesmoke;
  width: fit-content;
  padding: 10px;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  article {
    flex-direction: column;
    align-items: flex-start;
  }

  span {
    margin-left: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  main {
    margin: 70px 20px;
  }
}
