body {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
}

header,
footer {
  background-color: yellowgreen;
  padding: 1rem;
  border-radius: 16px;
}

main,
aside {
  background-color: brown;
  padding: 5rem;
  border-radius: 16px;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: footer;
}
