.block1,
.block2,
.block3,
.block4 {
  padding: 20px;
  background-color: slategray;
  font-size: 22px;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  border: 1px solid black;
}

.block1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: head;
  background-color: orange;
}

.block2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  background-color: lightblue;
}

.block3 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: sidebar;
  background-color: lightred;
}

.block4 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
  background-color: aquamarine;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "head head head head" "main main . sidebar" "footer footer footer footer";
  grid-gap: 8px;
  border: 2px solid black;
  padding: 5px;
}
