@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@100;200;300;400;500;600&display=swap");

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
}

main {
  min-height: 100vh;
  background: linear-gradient(0deg, rgb(8 8 8 / 60%), rgb(33 26 30 / 31%)),
    url(./image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  padding-top: 18%;
  width: 25%;
  margin: 0px auto;
}

h1 {
  padding: 0px;
  margin: 0px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin-bottom: 12px;
}

.login-form {
  background-color: white;
  border-radius: 8px;
}

.login-form label {
  display: block;
  width: 100%;
}

.login-form input {
  width: 100%;
  padding: 0 15px 12px 70px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.login-form input::placeholder {
  font-size: 16px;
}

.button {
  text-align: center;
  padding: 16px;
}

#button {
  background-color: #d41872;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  padding: 12px 50px;
  text-align: center;
}

i {
  font-size: 25px;
  color: grey;
  position: relative;
  top: 25px;
  left: 18px;
}
