html {
    font-family: Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
    color: black;
}

article {
    max-width: 1300px;
    margin-left: 50px;
}

article, aside {
    display: inline-block;
    vertical-align: top;
}

img {
    max-width: 600px;
}

aside {
    margin-right: 100px;
    max-width: 350px;
}