.filter--wrapper {
  background-color: #f8f8f8;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__title {
  color: #565656;
}

.filter__label-img {
  position: relative;
  top: 8px;
  right: 15px;
}

.filter__label-img--info {
  position: relative;
  top: 10px;
  left: 15px;
}
